@import "../../../../Containers/Props.scss";

button.Cta {
	outline: none;
	height: fit-content;
	font-weight: inherit;
	font-size: inherit;
	width: inherit;
}
.Cta {
	cursor: pointer;
	background-color: color(primary);
	position: absolute;
	display: block;
	margin: 0 auto;
	bottom: $mobile-pad;
	right: $mobile-pad;
	left: $mobile-pad;
	border: 3px solid color(accent);
	border-radius: 300px;
	transition: $short-transition;
	text-align: center;
	padding: .3em;

	span {
		display: inline-block;
		color: color(accent);
		margin: .6em 1em;
		text-align: center;
		font-weight: 600;
	}
	div {
		display: inline-block;
		background-color: color(accent);
		border-radius: 300px;
		color: color(primary);
		padding: .6em 1.2em;
		font-size: 1.2em;
	}
	box-shadow: $small-shadow;
}

@include desktop {
	.Cta {
		position: inherit;
		margin: 0;
		span {
			margin: .6em 2em;
			font-size: 1.2em;
		}
		div {
			font-size: 1.4em;
		}
	}
}

.Cta:hover {
	color: color(primary);
	background-color: color(accent);
	div {
		color: color(accent);
		background-color: color(primary);
	}
	span {
		color: color(primary);
	}
	border: $border solid color(primary);
}

.Cta:hover {
	transform: scale(1.1);
}
.Cta:active {
	transform: scale(.9);
}
